.menu {
    &__nav {
        margin-right: $navigation-margin-horizontal; // add margin to the nav in order to align with the section margin
       
        // NAV SWITCHES TO FULL SCREEN 
        @include respond(portrait) {
            display: none; // nav should not be there initially
            width: 100%;
            height: 100vh;
            pointer-events: none;
            margin-right: 0; // remove margin-right     
        }
    }

    &__menu-button {
        display: none;

        // MENU-BUTTON SHOWS
        @include respond(portrait) {
            display: block;
            position: fixed;
            height: 0.7 * $navigation-height;
            width: 0.7 * $navigation-height;
            top: 0;
            right: 1rem;
            z-index: 1; // button should be on top of the background
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
        }
    }
}