.anchor {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%; 

    transition: transform 1s;
    
    &,
    &:link,
    &:visited { 
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }

}

