// BREAKPOINTS
$bp-phone: 37.5em; // 600px
$bp-tab-port: 56.25em; // 900px
$bp-tab-land: 75em; // 1200px
$bp-1300: 81.25em; // 1300px
$bp-1400: 87.5em; // 1400px
$bp-1600: 100em; // 1600px
//$bp-big-desktop: 120em; // 1920px
$bp-big-desktop: 112.5em; // 1800px

$bp-portrait: 768px;